/* All Content */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .form-control {
    width: 18em !important;
  }

  .btn {
    width: 5em;
  }
  
  .search-img {
    width: 15em;
  }

  /* Home */
  .row {
    margin: 3em 0;
  }
  
  .col-lg {
    justify-content: center;
  }
  
  .image-container {
    position: relative;
    text-align: center;
    color: white;
    margin: auto;
  }
  
  .feat-img {
    object-fit: cover;
    width: 16em;
    height: 25em;
  }
  
  .movie-title {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* News */
  .news-img {
    object-fit: cover;
    width: 26em;
    height: 16em;
  }
  
  .trend-img {
    object-fit: cover;
    width: 14em;
    height: 10em;
    margin: 1em 0;
  }
  
  /* Reviews */
  .reviews-img {
    float: left;
    object-fit: cover;
    width: 35em;
    height: 20em;
    margin: 1em;
  }
  
  .info {
    margin: 1em auto;
    text-align: center;
  }
  
  /* Store */
  .store-row  {
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    padding: auto;
  }

  .store-info, .store-img, .store-price {
    position: relative;
    text-align: center;
    margin: 2em 0;
  }

  .store-img img {
    object-fit: cover;
    width: 15em;
    height: 20em;
  }

  .store-price button {
    width: 10em;
  }
  
  /* Sign-In */
  .sign-in form {
    border: 3px solid #f1f1f1;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 1em 1.5em;
    margin: 1em 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #34568B;
    color: white;
    padding: 1em 1.5em;
    margin: 1em 0;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .sign-in  {
    padding: 1em;
  }
  
  form .container {
    width: 50%;
    padding: 16px;
  }